/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

body {
line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
display: block;
}

nav li {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

a {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

ins {
background-color: #ff9;
color: #000;
text-decoration: none;
}

mark {
background-color: #ff9;
color: #000;
font-style: italic;
font-weight: bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom: 1px dotted #000;
cursor: help;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #cccccc;
margin: 1em 0;
padding: 0;
}

input, select {
vertical-align: middle;
}


/* txjs */

strong {
font-weight: bold;
}

h2 {
font-size: 250%;
font-weight: normal;
margin: 0 0 8px 0;
}

h3 {
font-size: 120%;
font-weight: normal;
font-style: italic;
margin: 0 0 15px 0;
}

a {
color: #9c1300;
}

a:visited {
color: #88a;
}

body {
font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
font-size: 90%;
background-color: #88CFFF;
color: #002655;
}

nav {
overflow: hidden;
margin: 10px 0 0 0;
padding: 0 0 0 5px;
}

nav li {
float: left;
background-color: #fff;
margin: 0 0 0 5px;
font-weight: bold;
}

nav a {
text-decoration: none;
display: block;
padding: 10px;
color: #002655;
}

nav a:hover {
background-color: #ccc;
}

nav a:visited {
color: #002655;
}

#wrapper {
width: 970px;
margin: 0 auto;
}

#flag {
height: 438px;
z-index: 999;
background-image: url(../images/txjsflag.jpg);
background-repeat: no-repeat;
background-position: center top;
}

ul {
margin: 15px 0 15px 20px;
}

ul li {
line-height: 1.4em;
}

p {
margin: 0 0 8px 0;
line-height: 1.4em;
}

p.intro {
font-size: 130%;
}

#banner {
background-color: #fff;
padding: 10px;
margin: 0 0 40px 0;
-moz-box-shadow: 4px 4px 8px #66accc;
-webkit-box-shadow: 4px 4px 8px #66accc;
overflow: hidden;
}

#banner li {
display: inline;
padding: 3px 0;
}

#banner li.twitter {
padding-left: 32px;
background: url('../images/twitter.png') 0 2px no-repeat transparent;
float: right;
}

#banner li.news {
float: left;
}

#banner a {
color: #002655;
font-weight: bold;
text-decoration: none;
}

.code {
font-family: Courier;
}

nav li {
-moz-box-shadow: 4px 4px 8px #66accc;
-webkit-box-shadow: 4px 4px 8px #66accc;
}

#mainbar {
width: 700px;
float: left;
background-color: #fff;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-moz-box-shadow: 4px 4px 8px #66accc;
-webkit-box-shadow: 4px 4px 8px #66accc;
}

#promos {
width: 230px;
float: right;
}

#promos article {
background-color: #fff;
padding: 10px;
margin: 0 0 15px 0;
font-size: 90%;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-moz-box-shadow: 4px 4px 8px #66accc;
-webkit-box-shadow: 4px 4px 8px #66accc;
}

#promos article h4 {
line-height: 1.2em;
margin: 0 0 5px 0;
}

#promos article p {
line-height: 1.2em;
font-size: 90%;
}

#promos article p:last-of-type {
margin: 0;
}

article.sponsors p {
text-align: center;
}

article.amenity_sponsors p {
margin:10px 0 20px 0;
}

#content {
padding: 15px;
}

#flag h1, #flag h2, #flag h3 {
display: none;
}

ul.speakers {
list-style-type:none;
margin:20px 0 20px 0;
padding:0;
overflow:hidden;
}

ul.speakers img {
display:block;
margin:0 10px 10px 0;
float:left;
border:1px solid #ccc;
}

ul.speakers li {
width:300px;
margin:0 10px 10px 0;
float:left;
height:75px;
font-size:80%;
}

/* parallax */
#parallax {
position: absolute;
z-index: -1;
overflow: hidden;
width: 1280px;
height: 1050px;
top: -40px;
margin: auto;
}

#cloud1,
#cloud2 {
width: 542px;
height: 317px;
}
#cloud3 {
width: 386px;
height: 303px;
}

#bluebonnets {
width: 333px;
height: 208px;
}

#schedule {
padding:10px;
}

#schedule table {
font-size:90%;
color:#000;
}

#schedule th,
#schedule td {
	padding:8px 4px;
	border:1px solid #ccc;
}

#schedule th {
vertical-align:middle;
}

#schedule thead th {
  background-color: #002655;
  background-image: -moz-linear-gradient(top, #002655, #1C4980); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #002655),color-stop(1, #1C4980)); /* Saf4+, Chrome */


	color:#fff;
}


#schedule tbody tr:hover th {
	background:rgb(237,237,237);
	 }
	
#schedule tbody td:hover:not(.break) {
	background:rgb(235,235,235);
	 }

#schedule tbody tr:nth-child(even){
	background:rgb(240,240,240);
}


#schedule th, #schedule td {
	
	     -moz-transition: all 0.15s ease-out;  /* FF3.7+ */
	       -o-transition: all 0.15s ease-out;  /* Opera 10.5 */
	  -webkit-transition: all 0.15s ease-out;  /* Saf3.2+, Chrome */

}

#schedule .inactive {
background-color:#ccc;
}

#schedule .break {
  background-color: #002655;
  background-image: -moz-linear-gradient(top, #002655, #1C4980); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #002655),color-stop(1, #1C4980)); /* Saf4+, Chrome */


	color:#fff;
	text-align:center;
	font-weight:bold;
}

#schedule p {
margin:0 0 5px 0;
}

#schedule img {
margin:0 0 -10px 0;
}
